[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-tinymce = "*"
pillow = "*"
django-storages = "*"
google-auth = "*"
google-cloud-storage = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
