/* To adjust scroll position to top of section */
div.ssection {
 /* height: 500px; */
 padding: 50px 0 0 0; /* Header height */
 margin: -50px 0 0 0; /* Negative Header height */
 -webkit-background-clip: content-box;
 backgrsound-clip: content-box;
}

div.section-heading-group {
 text-align: center;
}

div.experience-tile {
 height: 80px;
 white-space: normal !important;
 word-wrap: break-word;
}

div.experience-detail {
 margin: 10px;
}

img.intro-profile-pic {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}
header {
    padding-bottom: 50px;
}
